* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.cardHighlight {
  min-height: 100%;
}

.button {
   min-height: 100%;
   background-color: gray !important;
}

.click {
   text-decoration: none;
}
